/*assets/style.css*/
.stApp {
    background-color: #ffffff;
}

h1, h2, h3, p, span, label {
    color: #555555 !important; /* Grigio scuro per i titoli */
}

div.stButton > button {
    background-color: #eeeeee !important; /* Grigio chiaro per i tasti */
    color: #444444 !important;
    border: 1px solid #cccccc !important;
    border-radius: 5px;
}

div.stButton > button:hover {
    background-color: #dddddd !important;
}
